<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h1>Welcome to about page</h1>
        <p>{{aboutMe}}</p>
        <p>Some html content here</p>
       {{> footer}}
    </body>
</html>